h1, h2, h3, h4, h5 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: bolder;
}

body {
    background-color: #fafafa;
}

.logo {
    font-family: "Kaushan Script";
}

.navbar-brand {
    font-size: 30px;
}

h1.logo {
    font-weight: lighter;
}

.btn {
    border: none;
    border-radius: 25px;
}

.btn:focus {
    box-shadow: none;
}

.btn-primary {
    background-color: rgb(113, 20, 234);
}

.btn-primary:hover {
    background-color: rgb(101, 20, 201);
}

h1.logo {
    font-size: 60px;
}

.card-header {
    background-color: #fff;
}

.card {
    border-color: #eee;
}

.full-width {
    width: 100%;
}

.bg-light {
    background-color: #fff !important;
}